.not-found
{
  position: relative;
  margin-top: 150px;
}

.not-found img
{
  position: relative;
  width: 120px;
  height: 90px;
  margin-bottom: 30px;
}

.not-found h1
{
  position: relative;
  font-weight: bold;
  font-size: 50px;
}

.not-found p
{
  position: relative;
  margin: 8px;
}

.not-found a
{
  position: relative;
  background-color: darkslateblue;
  color: #FFF;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}